<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<!-- 配置连接参数 -->
		<property name="jdbcUrl" value="jdbc:oracle:thin:@127.0.0.1/orcl" />
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="user" value="ifmis_fj_xm_2019" />
		<property name="password" value="1" />

		<!-- 配置连接池 -->
		<property name="initialPoolSize" value="3" />
		<property name="maxPoolSize" value="10" />
		<property name="minPoolSize" value="1" />
		<property name="acquireIncrement" value="3" />
		<property name="maxIdleTime" value="60" />
	</bean>

	<!-- 配置SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" lazy-init="false">
		<!-- 注入datasource，给sessionfactoryBean内setdatasource提供数据源 -->
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<!-- 加载实体类的映射文件位置及名称 -->
		<property name="mappingLocations" value="classpath:com/qian/fang/ho/dic/*.hbm.xml" />
	</bean>
	
	<!-- 配置Spring声明式事务,采用AOP形式切入 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
       <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 配置事务属性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
    
    <!-- 配置事务切点，并把切点和事务属性关联起来 -->
    <aop:config proxy-target-class="true">
      <aop:pointcut expression="execution(* com.qian.fang.ho.dic.*.*(..))" id="txPointcut"/>
      <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
    </aop:config>
    
    <!--  
    <bean id="dao.impl.DicTableDAOImpl" class="com.dao.impl.DicTableDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id ="bpo.impl.DicTableBPOImpl" class="com.bpo.impl.DicTableBPOImpl">
    	<property name="dicTableDAO" ref="dao.impl.DicTableDAOImpl"/>
    </bean>
    <bean id ="bao.impl.DicTableBAOImpl" class="com.bao.impl.DicTableBAOImpl">
    	<property name="dicTableBPO" ref="bpo.impl.DicTableBPOImpl"/>
    </bean>
    -->
    
        <bean id="dao.impl.DicTableDAOImpl" class="com.qian.fang.ho.dic.dao.impl.DicTableDAOImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id ="bpo.impl.DicTableBPOImpl" class="com.qian.fang.ho.dic.bpo.impl.DicTableBPOImpl">
    	<property name="dicTableDAO" ref="dao.impl.DicTableDAOImpl"/>
    </bean>
    <bean id ="bao.impl.DicTableBAOImpl" class="com.qian.fang.ho.dic.bao.impl.DicTableBAOImpl">
    	<property name="dicTableBPO" ref="bpo.impl.DicTableBPOImpl"/>
    </bean>
</beans>